node_modules/
www/
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/src/main/assets/public/
android/captures/
android/*.iml
android/app/*.iml
android/keystore.properties
android/app/*.jks
android/app/*.keystore
android/keystore/*.jks
android/keystore/*.keystore
.DS_Store
